body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    font-size: 15px;
    padding: 2px;
    position: sticky;
    top: 0;
    justify-content: space-between; 
    align-items: center; 
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: overline maroon;
    color: maroon;
}

nav ul {
    padding: 0; 
    margin: 0; 
    display: flex;
    gap: 2rem; 
    list-style-type: none; 
}

nav li {
    display: flex; 
    align-items: center; 
}

.navbar-logo img {
    padding-right: 10px;
    height: 70px;
}

.navbar-center, .navbar-right {
    display: flex; 
}

.navbar-right {
    margin-left: auto; 
    padding-right: 30px;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 600px; 
    margin: auto;
    overflow: hidden;
}

.slider img {
    width: 100%;
    height: auto; 
    display: block;
}

.slider .slides {
    display: flex;
    transition: transform 0.5s ease;
}

.prev, .next {
    position: absolute;
    top: 50%; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding: 16px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    z-index: 1; 
    transform: translateY(-50%); 
    transition: background-color 0.3s; 
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 600px) {
    .main-container {
        flex-direction: column;
    }
}